img{.
  margin:1%;
  height: 30%;
  width: 30%;
}
.main{
  background:	#ffefd5;
  display: flex;
  display:25%;
  justify-content: space-around;

}
.left {
  background: #800000;
  padding: 5%;
  margin: 2%;
  text-align: left;
box-shadow: 5px 5px orange;
width: 25%;
height:50%;
justify-content: space-around;

 }
 .right {
   background: #800000;
   padding: 5%;
   margin: 2%;
   text-align: left;
 box-shadow: 5px 5px orange;
 width: 25%;
 height:50%;
justify-content:space-around;

  }
